<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Id" formControlName="id" matInput type="text" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Primer Apellido"
              formControlName="primerApellido"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Segundo Apellido"
              formControlName="segundoApellido"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Primer Nombre"
              formControlName="primerNombre"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Otros Nombres"
              formControlName="otrosNombres"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Pais Empleo</mat-label>
            <mat-select>
              <mat-option *ngFor="let count of country" value="{{ count.id }}">{{ count.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Tipo Identificacion</mat-label>
            <mat-select>
              <mat-option *ngFor="let it of identificationType" value="{{ it.id }}">{{ it.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Numero Identificacion"
              formControlName="numeroIdentificacion"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Correo Electronico"
              formControlName="correoElectronico"
              matInput
              type="email"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Fecha Ingreso"
              formControlName="fechaIngreso"
              matInput
              type="date"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Area</mat-label>
            <mat-select>
              <mat-option *ngFor="let area of workArea" value="{{ area.id }}">{{ area.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Fecha Ingreso"
              formControlName="fechaIngreso"
              matInput
              type="datetime"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit"> Guardar </button>
    </mat-card-actions>
  </mat-card>
</form>
